.App {
  text-align: center;
  align-content: center;
}
.game-board{
  width: max-content;
  margin:5px auto
}
.menu{
  margin: auto;
  width: max-content;
  display: flex;
  margin-bottom: 5px;
}

.timer,.bomb-counter{
  width: 60px;
  height: 30px;
  border: 4px solid rgb(177, 43, 43);
}
.timer{
  position: relative;
  left: 5em;
}
.bomb-counter{
  position: relative;
  right: 5em;
}
.reset-button{  
  /* width: 10px;
  height: 10px; */
  padding:0 10px;
  border-right: 4px solid rgb(65, 65, 65);
  border-bottom: 4px solid rgb(65, 65, 65);
  border-top: 4px solid rgb(177, 177, 177);
  border-left: 4px solid rgb(177, 177, 177);
  background-color: rgb(226, 224, 224);
}
.grid{
  margin: auto;
  height: max-content;
  width: max-content;
  border: 4px solid grey;
  padding: 5px;
}

.row{
  display: flex;
  flex-direction: row;
}

.square{
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  width: 10px;
  height: 10px;
  margin: 0px;
  padding: 10px;
  border-right: 4px solid rgb(65, 65, 65);
  border-bottom: 4px solid rgb(65, 65, 65);
  border-top: 4px solid rgb(177, 177, 177);
  border-left: 4px solid rgb(177, 177, 177);
  background-color: rgb(226, 224, 224);
  align-content: center;
  text-align: center;
}

.reset-button:hover, .square:hover{
  background-color: rgb(192, 192, 192);
}